{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}

<article>
<p>Denna webbplatsen är en del av kursen <a href="https://dbwebb.se/kurser/mvc-v2/">MVC</a>.</p>

<p>Några egna kloka ord om kursen?</p>

<p><img src="img/php.jpg" width="300px" alt="Bild på mig"></p>

<p><a href="https://github.com/MotamenGhanoum/mvc.git">MVC GitHub</a></p>
</article>

{% include('footer.html.twig') %}
{% endblock %}
