{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}


<img src = "img/mvc.jpg" width="600px" alt="Bild på mig">

<p class = important>
Welcom to Home Page!
</p>

<p>Mitt namn är Motamen Ghanoum och jag föddes och växte upp i Homs, Syrien. Där studerade jag till elektronisk ingenjör sen reste jag till Sverige.</p>
<p>Här i Sverige gick jag på Javautvecklare utbildning. Det var mitt första steg i programmerings värld och det som gör mig nyfiken att lära mig mer om programmering, vilket hamnar mig här i webb programmering programmet.</p>
<p>Nu jobbar jag som adminstretör i Navigatorcentrum Ronneby. Tidigare jobbade jag med förpackning i xyelm i Emmaboda. Dessutom har jag erfarenhet i förpackning men mitt mål var och förtfarande är att jobba som webb utvecklare.</p>
<p>Det mesta av min fritid tillbring jag med mina två dottar och min fru. Fotboll är min favorit sport och ibland spelar jag tennis.</p>
<p>Vi syns och hörs i forum och chatt!</p>

{% include('footer.html.twig') %}

{% endblock %}
