{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block content %}

<article>
<h1>Redovisning av kursmoment i kursen MVC</h1>
<section>
<h2>Kmom01</h2>
<p>Att komma igång med kursen var smidig eftersom allt var välorganiserade och ordnade. </p>
</section>
</article>



{% include('footer.html.twig') %}
{% endblock %}
